[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=root
WorkingDirectory={{ project_name_path }}
ExecStart={{ project_name_path }}/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          {{ project_name }}.wsgi:application

[Install]
WantedBy=multi-user.target